// ==========================================================================
//
//  Fonts
//    Import and include font stylesheets
//
// ==========================================================================


// --------------------------------------------------------------------------
//   Icon font
// --------------------------------------------------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icons/fonts/icomoon.eot?7kphwg');
	src:url('fonts/icons/fonts/icomoon.eot?#iefix7kphwg') format('embedded-opentype'),
		url('fonts/icons/fonts/icomoon.woff?7kphwg') format('woff'),
		url('fonts/icons/fonts/icomoon.ttf?7kphwg') format('truetype'),
		url('fonts/icons/fonts/icomoon.svg?7kphwg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-left2:before {
	content: "\e604";
}
.icon-arrow-down2:before {
	content: "\e605";
}
.icon-arrow-up2:before {
	content: "\e606";
}
.icon-arrow-right2:before {
	content: "\e607";
}
.icon-phone:before {
	content: "\e608";
}
.icon-mail:before {
	content: "\e609";
}
.icon-paperclip:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-export:before {
	content: "\e60c";
}
.icon-location:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-heart-open:before {
	content: "\e60f";
}
.icon-star:before {
	content: "\e610";
}
.icon-star-open:before {
	content: "\e611";
}
.icon-quote:before {
	content: "\e612";
}
.icon-search:before {
	content: "\e613";
}
.icon-cog:before {
	content: "\e614";
}
.icon-printer:before {
	content: "\e615";
}
.icon-lifebuoy:before {
	content: "\e616";
}
.icon-clock:before {
	content: "\e617";
}
.icon-cart:before {
	content: "\e618";
}
.icon-rss:before {
	content: "\e619";
}
.icon-checkmark:before {
	content: "\e61a";
}
.icon-cross:before {
	content: "\e61b";
}
.icon-minus:before {
	content: "\e61c";
}
.icon-plus:before {
	content: "\e61d";
}
.icon-cw:before {
	content: "\e61e";
}
.icon-blocked:before {
	content: "\e61f";
}
.icon-list:before {
	content: "\e620";
}
.icon-layout:before {
	content: "\e621";
}
.icon-list2:before {
	content: "\e622";
}
.icon-archive:before {
	content: "\e623";
}
.icon-download:before {
	content: "\e624";
}
.icon-cloud:before {
	content: "\e625";
}
.icon-play:before {
	content: "\e626";
}
.icon-pause:before {
	content: "\e627";
}
.icon-calendar:before {
	content: "\e631";
}
.icon-facebook:before {
	content: "\e628";
}
.icon-twitter:before {
	content: "\e629";
}
.icon-feed:before {
	content: "\e62a";
}
.icon-vimeo:before {
	content: "\e62b";
}
.icon-youtube:before {
	content: "\e62c";
}
.icon-flickr:before {
	content: "\e62d";
}
.icon-picassa:before {
	content: "\e62e";
}
.icon-wordpress:before {
	content: "\e62f";
}
.icon-tumblr:before {
	content: "\e630";
}
.icon-pinterest:before {
	content: "\e632";
}
.icon-paypal:before {
	content: "\e633";
}
.icon-linkedin:before {
	content: "\e634";
}
.icon-instagram:before {
	content: "\e635";
}
.icon-google-plus:before {
	content: "\e636";
}
.icon-skype:before {
	content: "\e637";
}
.icon-soundcloud:before {
	content: "\e638";
}
.icon-envelope:before {
	content: "\e0a1";
}
