// ==========================================================================
//
//  Layout
//    Primary stylesheet
//
// ==========================================================================


html {
	overflow-x: hidden;
	background: url(images/bg-body.jpg) repeat;
	background-color: #171312;
}

html.no-touch {
	overflow-y: auto;
}

body {
	@include clearfix;
	position: relative;
	width: 100%;
	height: 100%;

	&.admin-bar {

		@include media($mobile-down) {
			padding-top: 46px;
		}
		padding-top: 32px;
	}
}

#page-wrapper {
	position: relative;
	width: 100%;
	background: url(images/bg-page-wrapper.jpg) repeat-x;
	min-height: 600px;
}

@mixin center {
	@include clearfix;

	@include media($desktop-down) {
		width: 900px;
	}

	@include media($tablet-down) {
		width: $tablet;
	}

	@include media($mobile-down) {
		max-width: $mobile;
		width: auto;
	}
	margin-right: auto;
	margin-left: auto;

	width: 900px;
	*zoom: 1;
}


// --------------------------------------------------------------------------
//   Sections
// --------------------------------------------------------------------------

.wrapper {
	position: relative;
	display: block;
	padding: 0 10px;

	.section {
		@include center;

		.section-content {
			@include row;
		}
	}
}

// --------------------------------------------------------------------------
//   Header
// --------------------------------------------------------------------------

#header-wrapper {

	@include media($mobile-down) {
		padding-top: 10px;
		background: none;
	}
	z-index: 99;
	padding-top: 132px;
	padding-bottom: 0;
	background: url(images/bg-header-top.jpg) no-repeat top center;

	#header {

		#header-content {
			position: relative;
			padding: 50px 20px 20px;
			border-radius: 20px 20px 0 0;
			background: url(images/bg-header.jpg) center top;
			box-shadow: 0 10px 50px rgba(black, 0.5);
		}
	}
}

.home #header-wrapper #header #header-content {

	@include media($mobile-down) {
		padding-top: 50px;
	}
	padding-top: 240px;
}

#logo {
	@include span-columns(12);

	img + h1 {
		@include visuallyhidden;
	}
}

// --------------------------------------------------------------------------
//	 Toggle Button
// --------------------------------------------------------------------------

#menu-toggle {
	@include backface-visibility(hidden);
	position: absolute;
	top: $gap;
	right: $gap;
	z-index: 100;
	display: none;
	padding: 5px;
	color: #fff;
	text-align: left;
	font-weight: 300;
	font-size: 30px;
	line-height: 1;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
}

// --------------------------------------------------------------------------
//   Banner
// --------------------------------------------------------------------------

#banner-wrapper {
	// padding: 0; // Un-comment for a full width slider

	#banner {
		// max-width: 100%; // Un-comment for a full width slider

		#banner-content {
			position: relative;

			#hero {
				position: relative;
				z-index: 2;
			}
		}
	}
}


// ----- Slider Navigation ----- //

.slick-prev,
.slick-next {
	position: absolute;

	bottom: $gap * 2;
	display: block;
	margin: 0 $gap / 4;
	padding: $gap / 2;

	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: transparent;

	color: transparent;

	opacity: 0.85;


	&:before {
		@include icon;
		color: white;
	}

	&:hover {
		color: transparent;
		opacity: 1;
		&:before {
			color: $link-hover;
		}
	}

	&.slick-disabled {
		opacity: 0.25;
	}
}

.slick-prev {
	right: $gap * 5;

	&:before {
		content: '';
	}
}

.slick-next {
	right: $gap * 2;

	&:before {
		content: '';
	}
}



// --------------------------------------------------------------------------
//   Main Content
// --------------------------------------------------------------------------

#main-wrapper {

	#main {
		padding: 0;

		#main-content {

			@include media($mobile-down) {
				padding: 0;
			}
			padding: 40px;
			background: url(images/bg-content.jpg) no-repeat center top;
			box-shadow: 0 10px 50px rgba(black, 0.5);
		}
	}
}


// --------------------------------------------------------------------------
//   Content
// --------------------------------------------------------------------------

#content {
	@include span-columns(9);

	@include media($mobile-down) {
		padding: 20px 10px;
		border-radius: 0;
	}
	padding: 50px 40px;
	border-radius: 20px;
	background: black;
	background: rgba(black, 0.2);

	.archive-title {
		margin-bottom: $gap;
		padding-bottom: 10px;
		border-bottom: 1px solid whitesmoke;
	}

	article.hentry {

		header {

			h3 {
				margin: 0;
			}

			time {
				margin-bottom: 0;
				font-size: 1em;
			}
			.meta {
				margin-top: 0;
				margin-bottom: $gap;
				font-size: 1em;
			}
		}

		.content {

		}

		footer {

		}
	}

	// ----- Mobile ----- //

	@include media($mobile-down) {
		@include span-columns(4);
	}
}

#content.full-width {
	@include span-columns(12);
}

#content .page {

	header {
		margin-bottom: 30px;

		h2 {
			margin-bottom: 0;
		}

		.byline {
			margin-bottom: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.9em;
			line-height: 1;
		}
	}
}


// --------------------------------------------------------------------------
//   Sponsors
// --------------------------------------------------------------------------

.sponsor-title {

	&.gold_sponsors { color: gold; }
	&.silver_sponsors { color: #999; }
	&.bronze_sponsors { color: #C60; }

}

.sponsor-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	.sponsor {
		display: inline-block;
		margin: 25px;
	}
}


// --------------------------------------------------------------------------
//   Archives
// --------------------------------------------------------------------------

.archive, .search, .blog {

	#content {

		article {
			margin: 0 0 $gap * 2;
			border-bottom: 1px solid whitesmoke;
		}
	}
}


// --------------------------------------------------------------------------
//   Infinite Scroll
// --------------------------------------------------------------------------

.ias-noneleft, .ias-trigger, .ias-spinner {
	padding: $gap;
	width: 100%;
	border: 1px solid whitesmoke;
	background: #fafafa;
	text-align: center;
	font-size: ms(2);
}


// --------------------------------------------------------------------------
//   Comments
// --------------------------------------------------------------------------

.comment {
	$comment-gutter: $gap;
	$comment-image-width: 4em;
	$comment-color: $base-body-color;
	$comment-detail-color: transparentize($comment-color, .5);
	$comment-image-vert-alignment: top;

	display: table;
	margin-bottom: $gap;
	padding-bottom: 1em;
	width: 100%;
	border-bottom: 1px solid transparentize($comment-color, .9);

	.comment-image,
	.comment-content {
		display: table-cell;
		vertical-align: $comment-image-vert-alignment;
	}

	.comment-image {
		padding-right: $comment-gutter;

		> img {
			display: block;
			max-width: none;
			width: $comment-image-width;
			height: auto;
			border-radius: $base-border-radius;
		}

		.comment-reverse-order & {
			padding-right: 0;
			padding-left: 10px;
		}
	}

	.comment-content {
		width: 100%;

		h1 {
			margin-bottom: 0.5em;
			font-weight: bold;
			font-size: ms(2);
		}

		p {
			margin-bottom: 0.5em;
		}

		.comment-detail {
			color: $comment-detail-color;
			font-style: italic;
			font-size: .9em;
		}
	}
}

// --------------------------------------------------------------------------
//   Sidebar
// --------------------------------------------------------------------------

#sidebar {
	@include span-columns(3);


	// ----- Generic widget ----- //

	.widget {
		@include clearfix;
		margin-bottom: $gap;

		ul {
			margin: 0;
			padding-left: 0;
			border-top: 1px solid #eee;

			li {
				padding: 0;
				border-bottom: 1px solid #eee;
				list-style: none;

				a {
					display: block;
					padding: 0.6em 0.3em;
				}
			}
		}

		.sub-menu li:last-child {
			border-bottom: none;
		}
	}

	// ----- Sidebar menu ----- //

	.widget_sub_menu {

		.menu {
			margin-left: 0;
			border-top: none !important;
		}

		.current_page_ancestor {

			border: none !important;

			> a {
				font-size: 1em;
			}

		}

		.active > a {
			color: inherit;
		}

		> .active {

			border: none !important;

			> a {
				font-size: 1em;
			}
		}
	}

	// ----- Mobile ----- //

	@include media($mobile-down) {
		@include span-columns(4);
	}
}


// --------------------------------------------------------------------------
//   Footer
// --------------------------------------------------------------------------

#footer-wrapper {

	@include media($mobile-down) {
		margin-top: 20px;
	}

	#footer {

		#footer-content {
			font-size: 0.8em;
		}
	}
}

.copyright {
	float: left;
}

.contact-details {

	@include media($mobile-down) {
		float: left;
		clear: both;
		width: 100%;
		text-align: left;
	}

	float: right;
	text-align: right;
}
