// ==========================================================================
//
//	Drop Down Menu
//
// ==========================================================================

@if ($sidemenu == false) {


// --------------------------------------------------------------------------
//	 Full width
// --------------------------------------------------------------------------

@include media($mobile-up) {

	#nav-wrapper {
		z-index: 1000;

		.menu-header {
			@include center;

			#main-nav {
				background: url(images/bg-nav.jpg) center top;
				@include clearfix;
			}
		}
	}

}

#main-nav .menu {
	@include span-columns(12);
	float: left;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		position: relative;
		list-style: none;
		padding: 15px 10px;

		&:last-child {
			margin-right: 0;
		}

		&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
			background: black;
			background: rgba(black, 0.4);
		}

		a {
			display: block;
			padding: 0 20px;
			font-weight: bold;
			text-shadow: #142700 -1px 2px 3px;
			text-transform: uppercase;
			letter-spacing: -1px;
		}

		&.active a, a:hover {
			background: black;
			background: rgba(black, 0.4);
		}

		&.menu-parent > a:after {
			@include icon;
			content: 'î˜';
			color: $base-link-color;
			font-size: 1em;
			margin-left: 5px;
			position: relative;
			top: -1px;
		}

		.sub-menu {
			display: none;
			padding: 0;
			position: absolute;
			background: #fafafa;
			z-index: 1000;

			li {
				float: none;
				position: relative;
				margin-right: 0;

				&.menu-parent > a:after {
					position: absolute;
					right: 9px;
					top: 3px;
				}

				a {
					width: 9em;
				}
			}
			.sub-menu {
				display: none;
				left: 100%;
				position: absolute;
				top: 0;
			}
		}
	}
}


// --------------------------------------------------------------------------
//	 Collapsed
// --------------------------------------------------------------------------

@include media($mobile-down) {

	#menu-toggle {
		display: block;
	}

	#nav-wrapper {
		z-index: 98;
		padding: 0;

		.menu-header {
			padding: 0;
			max-height: 0;
			max-width: none;
			width: auto;
			overflow: hidden;
			@include transition(all 600ms ease-in-out);

			#main-nav {

				margin: 0 auto;
				@include clearfix;
			}
		}

		@include backface-visibility(hidden);
	}

	.js-nav #nav-wrapper .menu-header {
		 max-height: 400px;
	}

	#main-nav .menu {
		padding: 0;
		width: 100%;

		li {
			float: none;
			display: block;
			text-align: left;
			margin-right: 0;

			&.menu-parent > a:after {
				position: absolute;
				right: 1em;
				top: 0.5em;
				color: white;
			}

			.sub-menu {
				position: relative;
				display: none;
				max-width: 100%;
				zoom:1;
				// background: rgba(255, 255, 255, 0.1);

				li {
					float: none;
					position: relative;
					display: block !important;
					opacity: 1 !important;
					zoom:1;

					a {
						width: 100%;
						padding-left: 3em;
						padding-right: 3em;
					}

					&.menu-parent > a:after {
						position: absolute;
						right: 1em;
						top: 0.5em;
						color: white;
					}
					.sub-menu {
						position: relative;
						left: 0;

						li {
							padding-left: 0;

							a {
								padding-left: 4.5em;
							}
						}
					}
				}
			}
		}
	}
}

} // Close @if statement
